@import '~antd/dist/antd.css';

@import "~react-image-gallery/styles/css/image-gallery.css";

.App {
  flex: 1;
  flex-direction: column;
  display: flex;
  touch-action: manipulation;
  /* padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); */
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}